* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

.left-section {
  display: flex;
  align-items: center;
  gap: 64px; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 56px;
  position: relative;
  align-items: flex-start;
  background-color: #EDEDED
}
.logo {
  height: 32px;
}
.nav-links {
  display: flex;
  gap: 32px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  font-family: Inter;
}
.nav-links a {
  text-decoration: none;
  color: #000;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.search-box {
  background: #fff;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  color: #7e7e7e;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #ccc;
  width: 258px;
  height: 40px;
  font-size: 16px;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 16px;
  flex: 1;
  height: 100%;
  background: transparent;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sell-button {
  background-color: #0062ff;
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  color: #fff;
  font-family: Inter;
  gap: 12px;
  width: 115px;
  height: 40px;
  font-size: 16px;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 768px) {
.search-container {
    margin-top: 12px;
  }
}
.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* footer */

.footer {
  background-color: #ededed;
  padding: 32px 56px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-content {
        flex-direction: column;
    }
}
.column {
  flex: 1 1 220px;
  min-width: 180px;
  font-family: Inter;
  
}

.column h3 {
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 16px;
  font-family: Inter;
}

.column p {
  line-height: 1.5;
  font-size: 14px;
  font-family: Inter;
  
}

.socials {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

/* main text */

